### VirtualEnv
.venv


# Sphinx documentation
/docs/


# idea folder, uncomment if you don't need it
.idea

#other dirs

/.pytest_cache
/logs/
/results/
/__pycache__
/config.ini
/tox.ini
/.tox/
/config/
/lib/
